extends ../template.pug

block title
	title Add New Comment
	
block body
	include ../includes/navbar.pug
	.container
		h1.jumbotron.white-jumbotron Add a New Comment to 
			=campsite.name
		form(action="/campsites/"+campsite._id+"/comments" method="POST")
			div.campform.well
				div.form-group 
					textarea.form-control(name="text" placeholder="Your comment...")
				div.form-group    
					button.btn.btn-info.btn-lg(type="submit") Comment