extends template.pug

block title
    title YelpCamp Landing Page
    
block links
    link(rel="stylesheet" href="home.css")
    
block body
    include includes/navbar.pug
    div.container-fluid
        div.content.text-center.row.jumbotron
            h1 Welcome to YelpCamp!
            h4 Find the campsite of your dreams.