extends template.pug

block title
	title Sign Up

block body
	include includes/navbar.pug
	.container
		h1.jumbotron.white-jumbotron Sign Up to YelpCamp
		form(action="/register" method="POST")
			div.campform.well
				div.form-group
					label Username:
					input.form-control(type="text" name="username")
				div.form-group 
					label Password 
					input.form-control(type="password" name="password")
				div.form-group    
					button.btn.btn-info.btn-lg(type="submit") Sign Up