extends template.pug

block title
	title= campsite["name"]
	
block body
	include includes/navbar.pug
	.container
		h1= campsite.name
		h4= campsite.description
		img.thumbnail(src=campsite["image"])